@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Demo 2</h2>

        @Html.Label("Enter your name")
        @Html.TextBox("txtName")
        <input type="submit" id="btnSubmit1" name="Submit">

    </div>
    <div class="col-md-4">
        <h2>Demo 3</h2>

        @Html.Label("Click here for secured app")
        <a href="https://btjdevrampwebsecured.azurewebsites.net">https://btjdevrampwebsecured.azurewebsites.net</a>
    </div>
    @*<div class="col-md-4">
        <h2>Demo 3</h2>

        @Html.Label("Enter your name")
        @Html.TextBox("txtName")
        <input type="submit" id="btnSubmit3" name="Submit">

    </div>*@
</div>